<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div ng-controller="mainController as ctrl">
        <h1>{{ctrl.msg}}</h1>
    </div>
    <script src="javascripts/libs/requirejs/require.js" data-main="javascripts/app/main.js"></script>
  </body>
</html>
