<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div ui-view>

    </div>
    <script src="javascripts/libs/requirejs/require.js" data-main="javascripts/app/main.js"></script>
  </body>
</html>
